body, html{
    width: 100%;
    height: 100%;
}

#Slide1{
    background-color: blue;
    height: 100vh;
}

#Slide2{
    background-color: yellow;
    height: 100vh;
}

#Slide3{
    background-color: green;
    height: 100vh;
}