<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts" #slider>
      <ion-slide class="col-sm-12" *ngFor="let page of slidePages">
        <div class="row">
          <ion-item color="dark">
            {{page.title}}
          </ion-item>

          <img src="{{page.img}}">
          
          <ion-item color="primary">
            {{page.pageNum}} | {{page.content}}
          </ion-item>

          <ion-item color="danger">
              {{page.describe}}
            </ion-item>
        </div>
      </ion-slide>
    </ion-slides>
</ion-content>
