<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of postUserList; let i = index">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{ post.userImg }}">
      </ion-avatar>

      <div class="col-sm-12">
        <h2 class="feedTitle col-sm-6">{{ post.userName }}</h2>
        <p class="feedSubTitle col-sm-4">{{ post.postDate }}</p>
      </div>
    </ion-item>
  
    <img src="{{ post.postImg }}">
  
    <ion-card-content>
      <p>
        {{post.postDescription}}
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small (click)="postLikeControl(i)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ post.postLikes }} Likes</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>0 Comments</div>
        </button>
      </ion-col>

      <ion-col align-self-center text-center>
        <ion-note>
          1 minute ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
