h2.feedTitle{
    font-family: Helvetica;
    margin-bottom: -16px;
    font-weight: bold;
}

p.feedSubTitle{
    color: gray;
    opacity: 0.6;
}

button{
    color: #2E94C6;
    background-color: white;
}
